[alias]
  tree = log --graph --all
  ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
  f = "!git ls-files -m -o --exclude-standard | fzf --print0 -m | xargs -0 -t -o git add"
[format]
  pretty = "format:%C(red)%h%C(reset) - %s %C(blue)(%cr)%Creset %C(green)%an%C(reset) %C(yellow)%d%C(reset)"
[core]
  autocrlf = false
  safecrlf = true
  preloadindex = true
  excludesfile = /Users/mathieu/.gitignore_global
  editor = vim 
[gc]
  auto = 256
[user]
  name = Mathieu
  email = mathieux51@gmail.com
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[mergetool]
  prompt = false
	keepBackup = false
[merge]
  tool = vim_mergetool
  conflictstyle = diff3
[mergetool "vim_mergetool"]
  cmd = vim -f -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
  trustExitCode = true
[diff]
	tool = vimdiff
[rerere]
	enabled = true
[push]
	default = current
[pull]
	rebase = true
