[user]
	name = Mathieu
	email = mathieux51@gmail.com
[format]
	pretty = "format:%C(red)%h%C(reset) - %s %C(blue)(%cr)%Creset %C(green)%an%C(reset) %C(yellow)%d%C(reset)"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
